mat-sidenav-container {
  height: 100%;
  background-color: whitesmoke;
}

mat-sidenav, mat-side-content {
  padding: 16px;
}

.sidenav {
  height: 100%;
  width: 280px;
  position: fixed;
  background-color: #18445A;
  padding-top: 20px;
}

.sidenav a {
  /* width: 250px; */
  font-size: 18px;
  color: #f7f7f7;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

button {
  width: 300px;
}

.example-container {
  width: 100%;
  height: 100%;
  margin: 10px;
}

.insight-link-1 {
  text-decoration: none;
}

.insight-link-2 {
  text-decoration: none;
}

hr {
  position: relative;
  right: 16%;
  display: block;
  margin-top: 1px;
  margin-bottom: 0.5em;
  margin-left: -20px;
  margin-right: -20px;
  border-style: inset;
  border-width: 0.5px;
  border-color: rgb(228, 226, 226, 0.4);
}

.sushi-logout-div {
  position: absolute;
  right: 40%;
  padding-top: 10px;
}

.mat-raised-button {
  background-color: #1188b4 !important;
  color: white !important;
  width: 0%;
}

.circle-tile-heading {
  /* border: 3px solid rgba(255, 255, 255, 0.3); */
  border-radius: 100%;
  color: #FFFFFF;
  height: 80px;
  margin: 0 auto -40px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  width: 80px;
}

.nav-title-img {
  padding-top: 15px;
  background: transparent;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  background: white;
  vertical-align: middle;
  border-style: groove;
  padding-right: 10px;
}

.nav-title-logout {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}
.nav-title-icon{
  padding-left: 15px;
  margin-left: 0px;
  margin-right: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.nav-title-edit{
  padding-left: 15px;
  margin-left: 45px;
  margin-right: 15px;
  padding-right: 15px;
  cursor: pointer;
}
