<div  class="modal" [ngStyle]="{'display':show}">
  <form class="modal-content animate"  >
    <div class="imgcontainer">
      <span  class="close" title="Close Modal" (click)="hidePopup()">&times;</span>
      <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
      <label for="psw"><b><i>ProjectManagementTools</i></b></label>
    </div>

    <div class="container">
      <!-- <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required> -->
      <label for="psw"><b>Do you want logout ?</b></label>
      <button type="submit" (click)="logout()" >Logout</button>
      <!-- <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label> -->
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <!-- <button type="button"  class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span> -->

    </div>
  </form>
</div>
